################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aoc/obj
/.vs/aoc2024/FileContentIndex
